rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /projects/{allPaths=**} {
      // Allow public read of project images
      allow read: if true;

      // Only the admin can upload images
      allow write: if request.auth != null && request.auth.token.email == 'sahilsharma092006@gmail.com';
    }
  }
}